.header{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

*{
    box-sizing:border-box;
    font-family:outfit, sans-serif;
}

.grid-2col{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
}
.card{
    background-color: antiquewhite;
    padding: 24px;
    border-radius: 10px;
}

.card h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    background-color: rgb(236, 158, 41);
}